html,
body {
	font: 14px monospace;
  margin: 0;
  padding: 0;
}

.wraper {
	padding: 1px;
	position: relative;
}

#input-statement {
  box-sizing: border-box;
  border: solid 1px #eee;
  display: block;
  font-size: 14px;
  line-height: 1.5rem;
  outline: none;
  overflow: hidden;
  padding: 5px 18px;
  resize: none;
  width: 100%;
}

.wraper::before {
  color: blue;
  content: '>';
  line-height: 1.5rem;
  margin: 7px 0;
  position: absolute;
  left: 7px;
}

#history-statement {
  margin: 0;
  padding: 0;
}

#history-statement > li {
  border: 1px solid #eee;
  list-style: none;
  margin: 1px;
}

#history-statement > li:nth-child(even) {
  background: #eee;
}

.history {
  line-height: 1.5rem;
  margin: 0;
  padding: 0 18px;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
}


.history.history-statement::before {
  color: #aaa;
  content: '>';
  line-height: 1.5rem;
  position: absolute;
  left: 5px;
}

.history.history-execute-result::before {
	color: green;
  content: '<';
  line-height: 1.5rem;
  position: absolute;
  left: 5px;
}